.wrapperImage {
  position: relative;
  height: 100%;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.lazyImage {
  transition: 0.4s;
}

.loaded {
  opacity: 1;
  z-index: 1;
  object-fit: cover;
}

.loading {
  opacity: 0;
}


